{% extends 'base.html' %}
{% block title %}
    <title>Login to your account - AMG</title>
{% endblock title %}
{% block menulogin %}
<li class="active"><a href="/login">Login</a></li>
{% endblock menulogin %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<header class="major" style="margin-left: 45%;">
  <h2 align="center">LOGIN</h2>
</header>
    <form method="POST" style="margin-left: 15%;">
        {% csrf_token %}
        <div class="container fields">
          {% for field in form %}
          <div class="row field">
            <div class="col">
              {{ field.label_tag }}
            </div>
            <div class="col">
              {{ field }}
            </div>
          </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <span id="helpText" class="form-text">
                  {% if field.errors %}
                    <div class="help">{{ field.errors }}</div>
                  {% endif %}
                </span>
              </div>
            </div>
          {% endfor %}
          <div class="col" style="text-align: center;margin-top:20px;">
              {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
              {% endif %}
              <button type="submit" class="primary" style="margin-right:10px;">Login</button>
              <a href="{% url 'home:signup' %}" class="button">New user? Create your account here</a>
          </div>
        </div>
    </form>
{% endblock content %}