{% extends 'base.html' %}
{% block title %}
  <title>Update your profile</title>
{% endblock title %}
{% block content %}
<header class="major" style="margin-left:43%;">
  <h2>UPDATE PROFILE</h2>
</header>
  <form method="POST" id="personForm" data-cities-url="{% url 'home:load_cities' %}" style="margin-left: 15%;">
        {% csrf_token %}
        <div class="container fields">
          {% for field in form %}
          <div class="row field">
            <div class="col">
              {{ field.label_tag }}
            </div>
            <div class="col">
              {{ field }}
            </div>
          </div>
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <span id="helpText" class="form-text">
                  {% if field.errors %}
                    <div class="help">{{ field.errors }}</div>
                  {% endif %}
                </span>
              </div>
            </div>
          {% endfor %}
          <div class="col" style="text-align: center;margin-top:10px;">
            <button type="submit" class="primary" style="margin-right:10px;">Update</button>
            <a href="{% url 'home:profile' %}" class="button">Cancel</a>
          </div>
        </div>
    </form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_state").change(function () {
        const url = $("#personForm").attr("data-cities-url");
        const stateId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'state_id': stateId
            },
            success: function (data) {
                $("#id_city").html(data);
            }
        });

    });
</script>
{% endblock content %}
